$bg-dark: #000;
$screen-bg: #1c1c1c;
$btn-dark: #505050;
$btn-light: #d4d4d2;
$btn-orange: #ff9500;

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display",
    "SF Pro Text", sans-serif;
}

body {
  margin: 0;
  background: $bg-dark;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  width: 350px;
  padding: 20px;
  background: $bg-dark;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #FFF;
}

#screen {
  width: 100%;
  background: $screen-bg;
  color: white;
  font-size: 56px;
  padding: 25px 10px;
  text-align: right;
  border: none;
  border-radius: 12px;
  letter-spacing: 2px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 12px;
}

.list-control {
  grid-template-columns: repeat(5, 1fr);
}

.list-num {
  grid-template-columns: repeat(3, 1fr);
}

button {
  width: 100%;
  height: 70px;
  border-radius: 35px;
  border: none;
  font-size: 26px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  user-select: none;
  &:active {
    transform: scale(0.92);
    filter: brightness(1.4);
  }
}

.list-num button {
  background: $btn-dark;
  color: white;
}

.list-num button:nth-child(10) {
  grid-column: span 2;
  width: 100%;
  text-align: left;
  padding-left: 28px;
  border-radius: 35px;
}

.list-num button:nth-last-child(2) {
  background: $btn-light;
  color: black;
}

.list-num button:last-child {
  background: $btn-orange;
  color: white;
}

.list-control button {
  background: $btn-orange;
  color: white;
  font-weight: bold;
}

.list-control button:last-child {
  background: #a5a5a5;
  color: black;
  font-weight: 600;
}
