.wrap-img {
  img {
    max-width: 100%;
    height: auto;
  }
}
.wrap {
  overflow: hidden;
}

[data-cmnjs-slider] {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
}

[data-cmnjs-slider] .slide {
  flex: 0 0 100%;
  transition: transform 0.6s ease;
  opacity: 0;
}

[data-cmnjs-slider] .slide.is-active {
  opacity: 1;
}

[data-cmnjs-slider] .slide.is-prev {
  transform: translateX(-100%);
  opacity: 0.5;
}

[data-cmnjs-slider] .slide.is-next {
  transform: translateX(100%);
  opacity: 0.5;
}
.list-dot {
  display: flex;
  justify-content: center;
  gap: 10px;
  > li {
    > * {
      display: block;
      border: none;
      outline: none;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #c3c3c3;
      cursor: pointer;
    }
  }
  .is-active {
    * {
      background-color: #333333;
    }
  }
}
